{# src/DEUSI/PlatformBundle/Resources/views/Advert/view.html.twig #}

{% extends "@DEUSIPlatform/layout.html.twig" %}

{% block title %}
  Effacer une annonce - {{ parent() }}
{% endblock %}

{% block deusiplatform_body %}

  <h2></h2>
  

  <div class="well">
    
  </div>
   <p>
    Etes-vous sur
   
  </p>
  <p>
    <a href="{{ path('deusi_platform_home') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
    <a href="{{ path('deusi_platform_edit', {'id': advert.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Modifier l'annonce
    </a>    
  </p>

{% endblock %}
